<h2>
    Scope
</h2>
<table id="scope-table" class="table table-striped">
    <tbody>
        <tr>
            <td>
                <h3>Data</h3>
                <p>
                    Register and/or upload materials data and obtain a globally-unique resolvable identifier.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>High-Throughput Libraries</h3>
                <p>
                    Register a high-throughput (combinatorial) library and obtain a globally-unique resolvable
                    identifier. Link datasets to the sample
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Instruments</h3>
                <p>
                    Register a high-throughput synthesis or characterization instrument and obtain a globally-unique
                    resolvable identifier.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Software</h3>
                <p>
                    Register or upload related software, scripts, or utilities and obtain a globally-unique resolvable
                    identifier.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Organizations</h3>
                <p>
                    Register an organization performing high-throughput experimental science and engineering.
                </p>
            </td>
        </tr>
    </tbody>
</table>