{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <div class="row" id="intro">
            <div class="col-md-7">
                <h2>Overview</h2>
                <p>
                    Currently there are no national facilities in which a comprehensive high-throughput experimental
                    approach to novel materials discovery and commercialization can be implemented; there is no brick
                    and mortar high-throughput experimental facility devoted to providing the formatted and accessible
                    data required for a complete MGI development of even a single class of materials, let alone the
                    many that are crucial to addressing major national and global challenges. A major goal, therefore,
                    should be an effort to deploy a federated network of high-throughput experimental (synthesis and
                    characterization) tools, which are integrated with a materials data infrastructure. A critical
                    component of this federated infrastructure is this registry (or federation of registries) which
                    enable the global discovery and identification resources within this federated network. Click
                    <a href="https://mgi.nist.gov/htemc">here</a> to learn more.
                </p>
            </div>
            <div class="col-md-5">
                <img id="intro-logo" src="{% static 'core_main_app/img/hte_logo.png' %}"
                     alt="HTE MVL logo">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6" id="tiles">
    </div>
    <div class="col-md-6" id="templates">
    </div>
</div>